*{
  box-sizing: border-box;
  margin: 0;
}

body{
  background: #86A6D2;
  font-family: Roboto, sans-serif;
  text-align: center
}

h1{
  text-transform: uppercase;
  color: #5274c7;
  font-size: 12px;
  margin-bottom: 10px;
}

p {
  font-size: 7px;
  width: 65%;
  line-height: 10px;
  margin: 0 auto 10px auto;
  height: 40px;
  color: darkgrey;
}

.container {
  background: #ffffff;
  width: 60%;
  margin: 10% auto;
  border-radius: 2px;
  box-shadow: 1px 8px 8px #00000075;
}

.options{
  width: 32%;
  display: inline-table;
  margin: 0
}

.imageContainer{
  margin: 15% 0
}

.notation{
  font-size: 6px;
}