*{
  box-sizing: border-box;
  font-family: sans-serif;
  text-transform: uppercase
}

body{
  background: url('./img/background.jpg');
  background-repeat: no-repeat;
  height: 100%;
  width: auto;
  margin: 0;
}

.container{
  width: 30%;
  margin: 20% auto 0;
  background-color: #ffffff
}

.bulletPoint {
  margin: 0;
  font-size: 20px;
  padding: 0;
  color: #a2a2a2
}

img{
  height: 15px;
  margin: 0 10px;
}

h1{
  margin: 0;
  font-size: 12px;
}

h2 {
  margin: 0;
  font-size: 7px;
  width: 60%;
  display: inline;
  vertical-align: super;
  font-weight: 600;
}

.check{
  float: right
}

#paymentMethod, 
#visa, 
#mastercard, 
#maestro,
#nextStep{
  padding: 10px;
  font-size: 9px;
  border-bottom: 0.5px solid lightgrey;
  color: #a2a2a2
}

#mastercard{
  color: #000000
}

#paymentMethod{
  text-align: center;
  font-weight: 700;
  color: #000000;
}

#nextStep{
  color: #ffffff;
  background-color: #1976bf;
  text-align: center;
  border-bottom: none;
}

#arrow {
  height: 10px;
  margin: 0 5px 0 2px;
}